In [1]:
import pandas as pd
import numpy as np

In [2]:
data_location = 'J:/Projects/Permits/MasterDatabase/csv/'

In [3]:
data = pd.read_csv(data_location + 'REG1016PMT.csv')

c:\anaconda\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (16,17,18,21,27,30,32,42,44,47,48,50) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
data.columns

Index([u'uniqueID', u'SUBGROUP', u'REGEO', u'QCD', u'DELETE', u'CHECK',
       u'PROJYEAR', u'PSRCID', u'PSRCIDXY', u'MULTIREC', u'PERMITNO', u'SORT',
       u'CNTY', u'MULTICNTY', u'PLC', u'JURIS', u'PLCNOTE', u'PIN',
       u'PIN_PARENT', u'STR16', u'ADDRESS', u'HOUSENO', u'PREFIX', u'STRNAME',
       u'STRTYPE', u'SUFFIX', u'UNIT_BLD', u'ZIP', u'ISSUED', u'FINALED',
       u'OTHER_DT', u'STATUS', u'TYPE', u'PS', u'UNITS', u'BLDGS', u'LANDUSE',
       u'CONDO', u'VALUE', u'ZONING', u'X_COORD', u'Y_COORD', u'RUNTYPE',
       u'NOTES', u'NOTES2', u'NOTES3', u'NOTES4', u'NOTES5', u'NOTES6',
       u'Month', u'SUBAREA', u'TYPE2', u'TYPE3', u'TYPE4', u'PS2',
       u'ISSUEDYEAR', u'LOTSIZE', u'JURIS16', u'PLC16', u'TRACT10', u'TRACTID',
       u'BLKGRPID', u'BLOCKID', u'TAZ10', u'TAZ4K', u'FAZ10', u'UGA16'],
      dtype='object')

Clean Data

In [5]:
data = data[(data['PS'] != 1) & (data['PS'] != 2) & (data['PS'] != 4)]

In [8]:
data = data[(data['TYPE4'] != 'GQ') & (data['TYPE4'] != 'TL') & (data['TYPE4'] != '???') & (data['TYPE4'] != '')]

Region Data

In [10]:
# Region Single Family Data from 2010 to 2016
for year in [2010, 2011, 2012, 2013, 2014, 2015, 2016]:
    my_data = data[data['ISSUEDYEAR'] == year]
    sf_units = my_data[my_data['TYPE2'] == 'SF']['UNITS'].sum()
    print sf_units

5699.0
5499.0
7241.0
7609.0
7016.0
7444.0
7864.0

In [11]:
# Region Multi-Family Data from 2010 to 2016
for year in [2010, 2011, 2012, 2013, 2014, 2015, 2016]:
    my_data = data[data['ISSUEDYEAR'] == year]
    sf_units = my_data[my_data['TYPE2'] == 'MF']['UNITS'].sum()
    print sf_units

4955.0
7055.0
11938.0
12081.0
14536.0
18762.0
16137.0

In [12]:
# Region Mobile Home/Other from 2010 to2016
for year in [2010, 2011, 2012, 2013, 2014, 2015, 2016]:
    my_data = data[data['ISSUEDYEAR'] == year]
    sf_units = my_data[my_data['TYPE2'] == 'MH']['UNITS'].sum()
    print sf_units

9.0
15.0
-12.0
-8.0
-139.0
26.0
72.0

In [13]:
# Region Net Total Units from 1020 to 2016
for year in [2010, 2011, 2012, 2013, 2014, 2015, 2016]:
    my_data = data[data['ISSUEDYEAR'] == year]
    sf_units = my_data['UNITS'].sum()
    print sf_units

10663.0
12567.0
19168.0
19682.0
21416.0
26233.0
24072.0

In [16]:
print np.unique(my_data['PS'])
print np.unique(my_data['CNTY'])
print np.unique(my_data['MULTICNTY'])

[ 0.  3.  5.  6.  7.  8.]
[33 35 53 61]
[0 1]

Four Counties Data

In [15]:
CNTY = [33, 35, 53, 61] # KING, Kitsap, Pierce, Snohomish

In [21]:
# Total unit numbers for counties 
for year in [2010, 2011, 2012, 2013, 2014, 2015, 2016]:
    my_data = data[data['ISSUEDYEAR'] == year]
    print 'year:', year
    print 'total:', my_data['UNITS'].sum()
    for my_cnty in CNTY:
        #print my_cnty
        my_data2 = my_data[my_data['CNTY'] == my_cnty]
        print '--', my_cnty, 'county', '--'
        my_units2 = my_data2['UNITS'].sum()
        print my_units2
    print '-----------------------'

year: 2010
total: 10663.0
-- 33 county --
6296.0
-- 35 county --
332.0
-- 53 county --
1821.0
-- 61 county --
2214.0
-----------------------
year: 2011
total: 12567.0
-- 33 county --
6936.0
-- 35 county --
224.0
-- 53 county --
2851.0
-- 61 county --
2556.0
-----------------------
year: 2012
total: 19168.0
-- 33 county --
12327.0
-- 35 county --
609.0
-- 53 county --
2587.0
-- 61 county --
3645.0
-----------------------
year: 2013
total: 19682.0
-- 33 county --
12339.0
-- 35 county --
753.0
-- 53 county --
2629.0
-- 61 county --
3961.0
-----------------------
year: 2014
total: 21416.0
-- 33 county --
14148.0
-- 35 county --
445.0
-- 53 county --
3562.0
-- 61 county --
3261.0
-----------------------
year: 2015
total: 26233.0
-- 33 county --
18638.0
-- 35 county --
759.0
-- 53 county --
2785.0
-- 61 county --
4051.0
-----------------------
year: 2016
total: 24072.0
-- 33 county --
16147.0
-- 35 county --
607.0
-- 53 county --
3431.0
-- 61 county --
3887.0
-----------------------

In [23]:
# King County break fown on SF, MF, MH 
for year in [2010, 2011, 2012, 2013, 2014, 2015, 2016]:
    my_data = data[data['ISSUEDYEAR'] == year]
    print year
    print 'total units:', my_data['UNITS'].sum()
    my_data2 = my_data[my_data['CNTY'] == 33]
    for my_type in ['SF', 'MF', 'MH']:
            print my_type, '+++++++++'
            my_data3 = my_data2[my_data2['TYPE2'] == my_type]
            my_units3 = my_data3['UNITS'].sum()
            print my_units3
            
    print '-----------------------'

2010
total units: 10663.0
SF +++++++++
1953.0
MF +++++++++
4355.0
MH +++++++++
-12.0
-----------------------
2011
total units: 12567.0
SF +++++++++
2048.0
MF +++++++++
4888.0
MH +++++++++
1.0
-----------------------
2012
total units: 19168.0
SF +++++++++
2931.0
MF +++++++++
9401.0
MH +++++++++
-7.0
-----------------------
2013
total units: 19682.0
SF +++++++++
3149.0
MF +++++++++
9199.0
MH +++++++++
-9.0
-----------------------
2014
total units: 21416.0
SF +++++++++
2738.0
MF +++++++++
11507.0
MH +++++++++
-101.0
-----------------------
2015
total units: 26233.0
SF +++++++++
2717.0
MF +++++++++
15942.0
MH +++++++++
-22.0
-----------------------
2016
total units: 24072.0
SF +++++++++
2744.0
MF +++++++++
13410.0
MH +++++++++
-6.0
-----------------------

In [24]:
# Kistsap County break fown on SF, MF, MH 
for year in [2010, 2011, 2012, 2013, 2014, 2015, 2016]:
    my_data = data[data['ISSUEDYEAR'] == year]
    print year
    print 'total units:', my_data['UNITS'].sum()
    my_data2 = my_data[my_data['CNTY'] == 35]
    for my_type in ['SF', 'MF', 'MH']:
            print my_type, '+++++++++'
            my_data3 = my_data2[my_data2['TYPE2'] == my_type]
            my_units3 = my_data3['UNITS'].sum()
            print my_units3
            
    print '-----------------------'

2010
total units: 10663.0
SF +++++++++
319.0
MF +++++++++
14.0
MH +++++++++
-1.0
-----------------------
2011
total units: 12567.0
SF +++++++++
278.0
MF +++++++++
-60.0
MH +++++++++
6.0
-----------------------
2012
total units: 19168.0
SF +++++++++
483.0
MF +++++++++
127.0
MH +++++++++
-1.0
-----------------------
2013
total units: 19682.0
SF +++++++++
502.0
MF +++++++++
254.0
MH +++++++++
-3.0
-----------------------
2014
total units: 21416.0
SF +++++++++
368.0
MF +++++++++
76.0
MH +++++++++
2.0
-----------------------
2015
total units: 26233.0
SF +++++++++
587.0
MF +++++++++
169.0
MH +++++++++
3.0
-----------------------
2016
total units: 24072.0
SF +++++++++
532.0
MF +++++++++
66.0
MH +++++++++
9.0
-----------------------

In [25]:
# Pierce County break fown on SF, MF, MH 
for year in [2010, 2011, 2012, 2013, 2014, 2015, 2016]:
    my_data = data[data['ISSUEDYEAR'] == year]
    print year
    print 'total units:', my_data['UNITS'].sum()
    my_data2 = my_data[my_data['CNTY'] == 53]
    for my_type in ['SF', 'MF', 'MH']:
            print my_type, '+++++++++'
            my_data3 = my_data2[my_data2['TYPE2'] == my_type]
            my_units3 = my_data3['UNITS'].sum()
            print my_units3
            
    print '-----------------------'

2010
total units: 10663.0
SF +++++++++
1559.0
MF +++++++++
261.0
MH +++++++++
1.0
-----------------------
2011
total units: 12567.0
SF +++++++++
1381.0
MF +++++++++
1470.0
MH +++++++++
1.0
-----------------------
2012
total units: 19168.0
SF +++++++++
1777.0
MF +++++++++
806.0
MH +++++++++
5.0
-----------------------
2013
total units: 19682.0
SF +++++++++
2212.0
MF +++++++++
432.0
MH +++++++++
-15.0
-----------------------
2014
total units: 21416.0
SF +++++++++
2059.0
MF +++++++++
1554.0
MH +++++++++
-51.0
-----------------------
2015
total units: 26233.0
SF +++++++++
1934.0
MF +++++++++
831.0
MH +++++++++
20.0
-----------------------
2016
total units: 24072.0
SF +++++++++
2074.0
MF +++++++++
1317.0
MH +++++++++
40.0
-----------------------

In [26]:
#Snohomish County break fown on SF, MF, MH 
for year in [2010, 2011, 2012, 2013, 2014, 2015, 2016]:
    my_data = data[data['ISSUEDYEAR'] == year]
    print year
    print 'total units:', my_data['UNITS'].sum()
    my_data2 = my_data[my_data['CNTY'] == 61]
    for my_type in ['SF', 'MF', 'MH']:
            print my_type, '+++++++++'
            my_data3 = my_data2[my_data2['TYPE2'] == my_type]
            my_units3 = my_data3['UNITS'].sum()
            print my_units3
            
    print '-----------------------'

2010
total units: 10663.0
SF +++++++++
1868.0
MF +++++++++
325.0
MH +++++++++
21.0
-----------------------
2011
total units: 12567.0
SF +++++++++
1792.0
MF +++++++++
757.0
MH +++++++++
7.0
-----------------------
2012
total units: 19168.0
SF +++++++++
2050.0
MF +++++++++
1604.0
MH +++++++++
-9.0
-----------------------
2013
total units: 19682.0
SF +++++++++
1746.0
MF +++++++++
2196.0
MH +++++++++
19.0
-----------------------
2014
total units: 21416.0
SF +++++++++
1851.0
MF +++++++++
1399.0
MH +++++++++
11.0
-----------------------
2015
total units: 26233.0
SF +++++++++
2206.0
MF +++++++++
1820.0
MH +++++++++
25.0
-----------------------
2016
total units: 24072.0
SF +++++++++
2514.0
MF +++++++++
1344.0
MH +++++++++
29.0
-----------------------